.container{
    height:100vh;
    width:100vw;
}
body{
 /* background: #FEAC5E;  
background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  
background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); */

background: #00F260;
background: -webkit-linear-gradient(to right, #0575E6, #00F260);
background: linear-gradient(to right, #0575E6, #00F260);
}

.inputdemoErrors .inputErrorsApp {
  min-height: 48px;
}
.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%;
}

#main_container{
    height: 100%;
    width: 100%;
    background-image: #00F260;
background-image: -webkit-linear-gradient(to right, #0575E6, #00F260);
background-image: linear-gradient(to right, #0575E6, #00F260);
}
.nav_bar{
  width:100%;
  position: fixed;
}