<div ng-controller="AppCtrl" ng-cloak>
    <link rel="stylesheet" href="views/navbar/navbar.css">
    <md-content class="nav_bar" style="background-color:rgba(255,255,255,0.8)">
      <md-nav-bar
        md-no-ink-bar="disableInkBar"
        md-selected-nav-item="currentNavItem"
        nav-bar-aria-label="navigation links" >
        <md-nav-item md-nav-href="/index.html#!/login" name="login">Login</md-nav-item>
        <md-nav-item md-nav-href="/index.html#!/register" name="register">Register</md-nav-item>
        <md-nav-item md-nav-href="/index.html#!/premium" name="premium" >Membership</md-nav-item>
        <md-nav-item md-nav-href="/index.html#!/library" name="library" >Library</md-nav-item>
        <div flex="20" class="logo"></div>
        <small flex="20" layout="row" layout-align="center center">Music Gallery, listen to unlimited songs</small>
        <div flex="20" class="logo"></div>
        <img src="views/style/coriolis-logo.png" id="logo_navbar" flex="15" />
      </md-nav-bar>
    </md-content>
  </div>